.container {
    padding: 20px 15px 0px 15px;
}   

.selected-subjects {
    text-align: center;
    padding: 15px 30px 0px 30px;
    line-height: 150%;
}   
            
.btn-mini {
    margin: 2px 2px;
    padding: 2px 2px;
    font-size: 11px;
    line-height: 13px;
}
